body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    padding: 30px;
}
#transaction-area{
    display: none;
}
.status{
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.deposite{
        background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}